<html ng-app="layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:openiz="http://openiz.org/applet">
    <head>
        <script src="/js/openiz-model.js" type="text/javascript"></script>
        <script src="/js/openiz.js" type="text/javascript"></script>
        <script src="/lib/jquery.min.js" type="text/javascript"></script>
        <script src="/lib/bootstrap.js" type="text/javascript"></script>
        <script src="/lib/angular.min.js" type="text/javascript"></script>
        <script src="/js/openiz-localize.js" type="text/javascript"></script>
        <script src="/controllers/layout.js" type="text/javascript"></script>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <script type="text/javascript">
            $(document).ready(function () {
                if (OpenIZ.App == undefined)
                    setTimeout(function () { $("#versionInfo").html(OpenIZ.App.getVersion()); }, 200);
                else
                    $("#versionInfo").html(OpenIZ.App.getVersion());
            });</script>
    </head>
    <body>
        <!-- #include virtual="content" -->
        <footer>
            <small class="text-muted">
                OpenIZ Core - <span id="versionInfo"></span>
            </small>
        </footer>
    </body>
</html>
