#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/
*.pak
*.applet.xml

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover
.vs/
*.pdb
/OpenIZMobile/Resources/Resource.designer_REMOTE_200.cs
/OpenIZMobile/Resources/Resource.designer_LOCAL_200.cs
/OpenIZMobile/Resources/Resource.designer_BASE_200.cs
/OpenIZMobile/Resources/Resource.designer_BACKUP_200.cs
*.apk
/Solution Items/OpenIZ.Messaging.IMSI.Client.dll.mdb
/Solution Items/OpenIZ.Core.PCL.dll.mdb
/Solution Items/OpenIZ.Core.Model.dll.mdb

# Performance Profiler
*.vspx
*.etl
*.psess
