<div class="panel panel-info oiz-encounter-action-panel" xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet">
    <oiz:script>~/controllers/common/encounters/register/actionpanel.js</oiz:script>
    <div class="panel-heading"><span class="panel-title">{{ 'locale.encounters.actionsPerformed.title' | i18n }}</span></div>
    <table class="panel-body table table-striped table-responsive">
        <tr ng-repeat="act in encounter.relationship.HasComponent" ng-if="act.targetModel.moodConcept == 'ec74541f-87c4-4327-a4b9-97f325501747'">
            <td>
                <div class="container-fluid">
                    <div class="row">
                        <div ng-include="OpenIZ.App.resolveTemplate(act.targetModel.template.mnemonic)"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-if="act._created" class="btn-group pull-right">
                                <button type="button" ng-if="$index > 0" ng-click="delSubEncounter(encounter.relationship.HasComponent, $index)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="panel-body">
        <div class="row">
            <div class="btn-group pull-right dropdown">
                <button type="button" class="btn btn-success" data-toggle="dropdown"><span class="glyphicon glyphicon-plus-sign"></span><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a ng-click="addSubEncounter(encounter.relationship.HasComponent, 'Act.SubstanceAdmin.Immunization')">Vaccination</a></li>
                    <li><a ng-click="addSubEncounter(encounter.relationship.HasComponent, 'Act.Observation.Weight')">Weight</a></li>
                    <li><a ng-click="addSubEncounter(encounter.relationship.HasComponent, 'Act.Observation.Height')">Height</a></li>
                    <li><a ng-click="addSubEncounter(encounter.relationship.HasComponent, 'Act.SubstanceAdmin.Supplement')">Supplement</a></li>
                    <li><a ng-click="addSubEncounter(encounter.relationship.HasComponent, 'Act.Observation.CauseOfDeath')">Cause of Death</a></li>
                    <li><a ng-click="addSubEncounter(encounter.relationship.HasComponent, 'Act.Observation.Aefi')">Adverse Event</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
