<div xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet">
    <div class="panel-group">

        <div class="header-dock row" auto-hide-header="true" ng-class='{ "scrolled" : scrolled }'>
            <div class="col-xs-12 header-content">
                <!-- #include virtual="/org.openiz.core/views/common/patients/view/partials/demographics-header.html" -->

            </div>

            <div class="menu-tabs">
                <div class="header-collapse btn-chevron-icon">
                    <a class="btn btn-edit white-text" ng-click="scrolled = !scrolled">
                        <span class="glyphicon" ng-class="{'glyphicon-chevron-down': scrolled, 'glyphicon-chevron-up': !scrolled}"></span>
                    </a>
                </div>

                <ul class="nav nav-tabs" role="tablist">
                    <li ng-repeat="widget in tabPanels" role="presentation">
                        <a data-target="#{{widget.name}}" data-toggle="tab" id="{{widget.name}}Tab">{{widget.title}}</a>
                    </li>
                </ul>

            </div>
        </div>

        <!-- #include virtual="content" -->
    </div>
</div>