<fieldset xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet"
          xmlns:bind="http://openiz.org/applet/bind" class="form-horizontal form-group">
    <!-- #include virtual="/org.openiz.core/views/common/patients/view/demographics.html" -->
    <div class="form-group">
        <label class="col-xs-2 control-label" for="phoneNumber">{{ 'locale.patient.demographics.telephone' | i18n }}</label>
        <div class="col-xs-6">
            <span type="tel" name="phoneNumber" ng-model="patient.telecom[Direct]">{{patient.telecom[Direct]}}</span>
        </div>
    </div>
</fieldset>
