<fieldset xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet"
          xmlns:bind="http://openiz.org/applet/bind" class="form-horizontal form-group">
    <oiz:script>/org.openiz.core/lib/bootstrap-tokenfield.min.js</oiz:script>
    <oiz:style>/org.openiz.core/css/bootstrap-tokenfield.min.css</oiz:style> 

   <!-- #include virtual="/org.openiz.core/views/common/patients/view/demographics.html" -->
    <div class="form-group">
        <label class="col-xs-2 control-label" for="multipleBirth">{{ 'locale.patient.demographics.birthOrder' | i18n }}</label>
        <div class="col-xs-4">
                <span>{{patient.multipleBirthOrder}}</span>
        </div>  
        <div class="col-xs-6"></div>
    </div>
</fieldset>
