<div xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet" class="oiz-demographics"
     xmlns:bind="http://openiz.org/applet/binding">
    <div class="form-group">
        <label class="col-xs-2 control-label" for="givenName">{{ 'locale.patient.demographics.givenName' | i18n }}</label>
        <div class="col-xs-10">
                {{ patient.name.OfficialRecord.component.Given | oizEntityName }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="familyName">{{ 'locale.patient.demographics.familyName' | i18n }}</label>
        <div class="col-xs-10">
            {{ patient.name.OfficialRecord.component.Family | oizEntityName }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-2 control-label" for="dobInput">{{ 'locale.patient.demographics.dateOfBirth' | i18n }}</label>
        <div class="col-xs-4">
            {{ patient.dateOfBirth | date: 'yyyy-MMM-dd' }}
            <span ng-if="patient.dateOfBirthPrecision">{{ 'locale.patient.demographic.dob.fuzzy' | i18n }}</span>
        </div>
        <label class="col-xs-2 control-label" for="genderSelect">{{ 'locale.patient.demographics.gender' | i18n }}</label>
        <div class="col-xs-4">
            {{ patient.genderConceptModel.name[$root.page.locale] }}

                
        </div>
               
    </div>

</div>
