<div class="container" ng-controller="SettingsController" xmlns="http://www.w3.org/1999/xhtml" xmlns:openiz="http://openiz.org/applet"
     openiz:layout="/views/partials/_layout.html">
    <openiz:title lang="en">Initial Settings</openiz:title>
    <openiz:title lang="fr"></openiz:title>
    <openiz:title lang="sw"></openiz:title>
    <openiz:script>/lib/ui-bootstrap.min.js</openiz:script>
    <openiz:script>/controllers/settings/settings.js</openiz:script>

    <div class="row">
        <div class="col-md-12">
            <form name="realmForm" novalidate="novalidate">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'locale.settings.realmTitle' | i18n }}</h3>
                    </div>
                    <div class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2 col-xs-2">
                                        <img src="/img/appbar.network.home.png" alt="network" class="left" />
                                    </div>
                                    <div class="col-md-10 col-xs-10" style="vertical-align:middle">
                                        <em>{{ 'locale.settings.realmDescription' | i18n }}</em>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="deviceNameLabel">{{ 'locale.settings.deviceName' | i18n }}:</span>
                                            <input ng-model="config.security.deviceName" ng-required="true" placeholder="tabletid" ng-pattern="/^[A-Za-z][A-Za-z.0-9-]+$/i" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control" type="test" name="deviceName" id="deviceName" aria-describedby="deviceNameLabel" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-phone">
                                                </span>
                                            </span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="realmServerLabel">{{ 'locale.settings.realmName' | i18n }}:</span>
                                            <input ng-model="config.security.domain" ng-required="true" placeholder="demo.openiz.org" ng-pattern="/^[A-Za-z0-9.-]*$/i" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" name="realmServer" id="realmServer" aria-describedby="realmServerLabel" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-globe">
                                                </span>
                                            </span>
                                        </div>
                                        <div class="btn-group pull-right">
                                            <button class="btn-danger btn" ng-disabled="config.realmName == null" ng-click="leaveRealm(config.security)">
                                                <span class="glyphicon glyphicon-resize-full">
                                                </span> {{ 'locale.settings.leaveRealm' | i18n }}
                                            </button>
                                            <button class="btn-primary btn" ng-click="joinRealm(config.security)" ng-disabled="realmForm.$invalid || config.realmName != null">
                                                {{ 'locale.settings.joinRealm' | i18n }} <span class="glyphicon glyphicon-resize-small"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#dataBody" data-toggle="collapse">
                            {{ 'locale.settings.dataTitle' | i18n }}
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="dataBody">

                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2 col-xs-2">
                                    <img src="/img/appbar.database.png" alt="database" class="left" />
                                </div>
                                <div class="col-md-10 col-xs-10" style="vertical-align:middle">
                                    <em>{{ 'locale.settings.dataDescription' | i18n }}</em>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">{{ 'locale.settings.dataMode' | i18n }}</span>
                            <select class="form-control" ng-model="config.data.mode">
                                <option value="sync">Synchronized</option>
                                <option value="online">Online Only</option>
                                <option value="offline">Offline Only</option>
                            </select>
                        </div>
                        <div class="input-group" ng-if="config.data.mode == 'sync'">
                            <span class="input-group-addon">{{ 'locale.settings.syncEvents' | i18n }}:</span>
                            <select class="form-control select2" multiple="multiple" ng-model="config.data.sync.event">
                                <option value="onstart">On Startup</option>
                                <option value="onclose">On Close</option>
                                <option value="oncommit">On Commit</option>
                            </select>
                        </div>
                        <div class="input-group" ng-if="config.data.mode == 'sync'">
                            <span class="input-group-addon">{{ 'locale.settings.pollInterval' | i18n }}:</span>
                            <select class="form-control" id="pollIntervalInput" ng-model="config.data.sync.pollInterval">
                                <option value="1">{{ 'locale.settings.pollInterval.1' | i18n }}</option>
                                <option value="5">{{ 'locale.settings.pollInterval.5' | i18n }}</option>
                                <option value="15">{{ 'locale.settings.pollInterval.15' | i18n }}</option>
                                <option value="30">{{ 'locale.settings.pollInterval.30' | i18n }}</option>
                                <option value="0">{{ 'locale.settings.pollInterval.0' | i18n }}</option>
                                <option value="-1">{{ 'locale.settings.pollInterval.push' | i18n }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#logBody" data-toggle="collapse">
                            {{ 'locale.settings.logTitle' | i18n }}
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="logBody">

                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2 col-xs-2">
                                    <img src="/img/appbar.book.list.png" alt="log" class="left" />
                                </div>
                                <div class="col-md-10 col-xs-10" style="vertical-align:middle">
                                    <em>{{ 'locale.settings.logDescription' | i18n }}</em>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">{{ 'locale.settings.logMode' | i18n }}</span>
                            <select class="form-control" ng-model="config.log.mode">
                                <optgroup label="Debugging">
                                    <option value="0">{{ 'locale.settings.log.always' | i18n }}</option>
                                    <option value="4">{{ 'locale.settings.log.informational' | i18n }}</option>
                                    <option value="5">{{ 'locale.settings.log.verbose' | i18n }}</option>
                                </optgroup>
                                <optgroup label="Production">
                                    <option value="1">{{ 'locale.settings.log.critical' | i18n }}</option>
                                    <option value="2">{{ 'locale.settings.log.error' | i18n }}</option>
                                    <option value="3">{{ 'locale.settings.log.warning' | i18n }}</option>

                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#securityBody" data-toggle="collapse">
                            {{ 'locale.settings.securityTitle' | i18n }}
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="securityBody">

                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2 col-xs-2">
                                    <img src="/img/appbar.shield.png" alt="log" class="left" />
                                </div>
                                <div class="col-md-10 col-xs-10" style="vertical-align:middle">
                                    <em>{{ 'locale.settings.securityDescription' | i18n }}</em>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">{{ 'locale.settings.passwordFormat' | i18n }}</span>
                            <select class="form-control" ng-model="config.security.hasher">
                                <option value="SHA256PasswordHasher">{{ 'locale.settings.security.sha256' | i18n }}</option>
                                <option value="SHA1PasswordHasher">{{ 'locale.settings.security.sha1' | i18n }}</option>
                                <option value="PlainTextPasswordHasher">{{ 'locale.settings.security.plain' | i18n }}</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">{{ 'locale.settings.allowLocalAuth' | i18n }}</span>
                            <div class="checkbox">
                                <label>
                                    <input name="offlineAuthenticationInput" type="checkbox" ng-model="config.security.offline.enable" /> Check me out
                                    {{ 'locale.settings.allowLocalAuthDescription' | i18n}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button class="btn-danger btn" ng-click="close()">
                    <span class="glyphicon glyphicon-remove">
                    </span> {{ 'locale.settings.cancel' | i18n }}
                </button>
                <button class="btn-primary btn" ng-click="save(config)">
                    {{ 'locale.settings.apply' | i18n }} <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
        </div>
    </div>
</div>
