<div class="container" ng-controller="SettingsController" xmlns="http://www.w3.org/1999/xhtml" xmlns:openiz="http://openiz.org/applet"
     openiz:layout="/org.openiz.core/layouts/minimal.html">
    <openiz:title lang="en">Initial Settings</openiz:title>
    <openiz:title lang="fr"></openiz:title>
    <openiz:title lang="sw"></openiz:title>
    <openiz:script>/org.openiz.core/controllers/settings/settings.js</openiz:script>
    <openiz:demand>1.3.6.1.4.1.33349.3.1.5.9.2.10</openiz:demand>
    
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#dataBody" data-toggle="tab">{{ 'locale.settings.dataTitle' | i18n }}</a></li>
        <li role="presentation"><a href="#logBody" data-toggle="tab">{{ 'locale.settings.logTitle' | i18n }}</a></li>
        <li role="presentation"><a href="#securityBody" data-toggle="tab">{{ 'locale.settings.securityTitle' | i18n }}</a></li>
        <li role="presentation"><a href="#networkBody" data-toggle="tab">{{ 'locale.settings.networkTitle' | i18n }}</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="dataBody"><!-- #include virtual="~/views/settings/tabs/data.html" --></div>
        <div role="tabpanel" class="tab-pane" id="logBody"><!-- #include virtual="~/views/settings/tabs/log.html" --></div>
        <div role="tabpanel" class="tab-pane" id="securityBody"><!-- #include virtual="~/views/settings/tabs/security.html" --></div>
        <div role="tabpanel" class="tab-pane" id="networkBody"><!-- #include virtual="~/views/settings/tabs/network.html" --></div>
    </div>

  
</div>