<form class="form-horizontal form" novalidate="novalidate" ng-submit="changePassword($root.session.user.userName, changePassword.existing, changePassword.password, changePassword.confirmation)" ng-controller="UserPasswordController" xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet" xmlns:bind="http://openiz.org/applet/binding">
    <oiz:script>/org.openiz.core/controllers/settings/password.js</oiz:script>
    <div class="alert alert-warning" ng-if="!$root.page.onlineState">
        {{ 'locale.preferences.password.onlineOnly' | i18n }}
    </div>
    <div class="container-fluid">
        <div class="form-group">
            <label for="username" class="col-xs-12 col-sm-2 control-label">{{ 'locale.preferences.username' | i18n }}</label>
            <div class="col-xs-12 col-sm-10"><input type="text" name="username" ng-model="::$root.session.user.userName" readonly="readonly" class="form-control" /></div>
        </div>
        <div class="form-group">
            <label for="existing" class="col-xs-12 col-sm-2 control-label">{{ 'locale.preferences.existingPassword' | i18n }}</label>
            <div class="col-xs-12 col-sm-10"><input ng-disabled="!$root.page.onlineState" type="password" name="existing" ng-required="true" ng-model="changePassword.existing" class="form-control" /></div>
        </div>
        <div class="form-group">
            <label for="password" class="col-xs-12 col-sm-2 control-label">{{ 'locale.preferences.password' | i18n }}</label>
            <div class="col-xs-12 col-sm-10"><input ng-disabled="!$root.page.onlineState" type="password" name="password" ng-required="true" ng-model="changePassword.password" class="form-control" /></div>
        </div>
        <div class="form-group">
            <label for="confirm" class="col-xs-12 col-sm-2 control-label">{{ 'locale.preferences.confirm' | i18n }}</label>
            <div class="col-xs-12 col-sm-10"><input ng-disabled="!$root.page.onlineState" type="password" name="confirm" ng-required="true" ng-model="changePassword.confirmation" class="form-control" /></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group pull-right">
                    <button ng-disabled="!$root.page.onlineState" type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-check"></span> {{ 'locale.preferences.changePassword' | i18n }}</button>
                </div>
            </div>
        </div>
    </div>
</form>
