<div xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet" style="max-height:200px; overflow-y:scroll">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="act in patient.participation.RecordTarget" ng-if="act.moodConcept = 'acf7baf2-221f-4bc2-8116-ceb5165be079'"
            ng-class="{'list-group-item-success':act.relationship.Fulfills}">
            <h4 class="list-group-item-heading">{{act.classConceptModel.name[$root.page.locale] }} - {{act.typeConceptModel.name[$root.page.locale]}} <small>({{ act.startTime | date: 'yyyy-MM-dd' }} - {{act.stopTime | date: 'yyyy-MM-dd'}})</small></h4>
            <p class="list-group-item-text">
                <em><mark>TODO: Summary of the act here</mark></em>
            </p>
        </li>
    </ul>
</div>