<div xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet" class="list-group">
    <a ng-click="viewPerson(rel.id)" ng-repeat="(typ, rel) in patient.relationship" ng-if="rel.targetModel.$type == 'Person' || rel.targetModel.$type == 'Patient'" class="list-group-item">
        <!-- TODO: Have the serializer send down the relationshipType so I can render it -->
        <h4 class="list-group-item-heading">{{rel.targetModel.name.OfficialRecord | oizEntityName}} <small>({{typ}}) - {{rel.targetModel.identifier | oizEntityIdentifier}}</small></h4>
        <p class="list-group-item-text">
            <em><mark>TODO: What information would be useful here?</mark></em>
        </p>
    </a>
</div>