<div xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet"
     oiz:layout="/org.openiz.core/layouts/minimal.html" ng-controller="IndexController">
    <oiz:title lang="en">Welcome to OpenIZ DC!</oiz:title>
    <oiz:title lang="fr">Bienvennue a OpenIZ DC!</oiz:title>
    <oiz:title lang="sw">Karibu a OpenIZ DC!</oiz:title>
    <oiz:demand>1.3.6.1.4.1.33349.3.1.5.9.2.1</oiz:demand>

    <h1>OpenIZ Disconnected Client</h1>
    <p>The disconnected client is installed on your device. Unfortunately it is a whitelabel application so out of the box it is pretty boring!</p>
    <h2>Installed Menu Items</h2>
    <ul>
        <li ng-repeat="m in ::system.menuItems">
            <a ng-if="::m.action" ng-href="{{::m.action}}">
                <img ng-if="m.icon" ng-src="{{::m.icon}}" ng-alt="{{::m.text}}" ng-title="{{::m.text}}" />							{{::m.text}}
            </a>
            <a ng-if="::m.menu">
                <img class="pull-left navbar-icon" ng-src="{{::m.icon}}" ng-alt="{{::m.text}}" ng-title="{{::m.text}}" /> {{m.text}}
            </a>
            <ul ng-if="::m.menu">
                <li ng-repeat="c in ::m.menu">
                    <a ng-href="{{::c.action}}">
                        <img class="pull-left navbar-icon" ng-if="c.icon" ng-src="{{::c.icon}}" ng-alt="{{::c.text}}" ng-title="{{::c.text}}" />									{{c.text}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <script type="text/javascript">
        // <![CDATA[
        layoutApp.controller('IndexController', ['$scope', function ($scope) {
            $scope.sys = {
                menuItems: OpenIZ.App.getMenus()
            };
        }]);
        // ]]>
    </script>
</div>