<div id="layout-navbar" xmlns:oiz="http://openiz.org/applet" xmlns="http://www.w3.org/1999/xhtml" oiz:layout="/org.openiz.core/layouts/root.html" ng-controller="LayoutController">
    <oiz:script>/org.openiz.core/controllers/layouts/navbar.js</oiz:script>
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
                <span style="padding-top:16px">{{ 'locale.layout.title' | i18n }}</span> <small>&gt; {{ ::$root.page.title }}</small>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="m in menuItems">
                    <a ng-if="!m.menu" ng-href="{{::m.action}}">
                        <img ng-if="m.icon" class="navbar-icon" ng-src="{{::m.icon}}" ng-alt="{{::m.text}}" ng-title="{{::m.text}}" /> {{::m.text}}
                    </a>
                    <a ng-if="m.menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="navbar-icon" ng-src="{{::m.icon}}" ng-alt="{{::m.text}}" ng-title="{{::m.text}}" /> {{::m.text}}  <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" ng-if="m.menu">
                        <li ng-repeat="c in ::m.menu">
                            <a ng-href="{{::c.action}}">
                                <img class="navbar-icon" ng-if="::c.icon" ng-src="{{::c.icon}}" ng-alt="{{::c.text}}" ng-title="{{::c.text}}" />
                                <img class="navbar-icon" ng-if="::!c.icon" src="/org.openiz.core/img/appbar.blank.png" />
                                {{::c.text}}
                            </a>
                        </li>
                    </ul>

                </li>
                <li class="dropdown" id="langDropDown" ng-if="$root.session.identity.name === undefined">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="/org.openiz.core/img/appbar.globe.png" class="navbar-icon" /> {{ 'locale.layout.navbar.language' | i18n }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation">
                            <a href="#" rel="en" ng-click="setLocale('en');">
                                English
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" rel="sw" ng-click="setLocale('sw');">
                                Kiswahili
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-show="$root.session.identity.name">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="/org.openiz.core/img/appbar.email.png" class="navbar-icon" />
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation" ng-if="true">
                            <a href="/org.openiz.core/views/alerts/index.html">
                                {{ 'locale.alerts.noalerts' | i18n }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-show="$root.session.identity.name">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="/org.openiz.core/img/appbar.user.png" class="navbar-icon" /> {{ $root.session.identity.name }}  <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation">
                            <a href="#">
                                <img src="/org.openiz.core/img/appbar.cog.png" class="navbar-icon" /> {{ 'locale.layout.navbar.preferences' | i18n }}
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" ng-click="logout();">
                                <img src="/org.openiz.core/img/appbar.man.suitcase.fast.png" class="navbar-icon" /> {{ 'locale.layout.navbar.logout' | i18n }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <!--#include virtual="content" -->
    </div>

    <footer class="footer">
        <hr />
        <div class="container">
            <p class="text-muted text-center">
                &#169;
                {{ 'locale.layout.footer' | i18n }}
            </p>
        </div>
    </footer>
</div>