<!--cdss Modal-->
<div class="modal-dialog" role="document" xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet">
    <div class="modal-content">
        <div class="modal-header modal-header-danger">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title">
                <span class="glyphicon glyphicon-exclamation-sign" style="font-size:2em"></span>
                {{ 'locale.encounters.cdss.errorTitle' | i18n }}
            </h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        {{ 'locale.encounters.cdss.errorDescription' | i18n }}
                        <ul>
                            <li ng-repeat="err in cdss.errors">{{ OpenIZ.Localization.getString(err.text) }}</li>
                        </ul>
                        {{ 'locale.encounters.cdss.actions' | i18n }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger" ng-click="cdss._override=true">{{ 'locale.action.ignore' | i18n }}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'locale.action.cancel' | i18n }}</button>
        </div>
    </div>
</div>
<!--end cdss Modal-->