<div xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet" oiz:layout="/org.openiz.core/layouts/navbar.html">
    <oiz:style>~/css/theme.css</oiz:style>
    <oiz:script>~/controllers/common/security/forgotPassword.js</oiz:script>
    <oiz:title lang="en">{{ 'locale.security.forgotPassword.title' | i18n }}</oiz:title>

    <div class="panel panel-default">
        <div class="panel panel-heading">
            {{ 'locale.security.forgotPassword.title' | i18n }}
        </div>
        <div class="panel panel-body">
            <form name="forgotPasswordForm" novalidate="novalidate" class="form-horizontal" role="form" ng-submit="forgotPasswordForm.$valid &amp;&amp; resetPassword(username)" ng-controller="ForgotPasswordController">

                <div class="form-group" ng-class="{ 'has-error' : forgotPasswordForm.username.$invalid &amp;&amp; forgotPasswordForm.username.$touched }">
                    <label class="col-md-2 control-label">{{ 'locale.security.login.label.username' | i18n }}</label>
                    <div class="col-md-10">
                        <input type="text" ng-required="true" ng-model="username" name="username" class="form-control" />
                        <p ng-show="forgotPasswordForm.username.$invalid &amp;&amp; forgotPasswordForm.username.$touched" class="help-block text-danger">{{ 'locale.security.errors.usernameRequired' | i18n }}</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="{{ 'locale.action.submit' | i18n }}" class="btn btn-primary" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
