<form novalidate="novalidate" name="loginForm" class="form form-login" ng-submit="login(username, password)" xmlns:openiz="http://openiz.org/applet"
      xmlns="http://www.w3.org/1999/xhtml">
    <openiz:script>/org.openiz.core/controllers/common/security/login.js</openiz:script>
    <fieldset class="form-horizontal form-group">
        <legend class="text-center">{{ 'locale.security.login.helpText' | i18n }}</legend>
        <div class="form-group" ng-class="{ 'has-error': (loginForm.username.$touched||loginForm.$submitted) &amp;&amp; loginForm.username.$invalid }">
            <label for="usernameInput" class="col-xs-2 control-label">{{ 'locale.security.login.label.username' | i18n }}</label>
            <div class="col-xs-9 input-group">
                <input ng-model="username" type="text" ng-required="true" placeholder="{{ 'locale.security.login.placeholder.username' | i18n }}" class="form-control"
                       name="username" id="usernameInput" autocomplete="off" autofocus="autofocus" autocorrect="off" autocapitalize="none" />
            </div>
        </div>
        <div class="col-xs-offset-2 col-xs-9" ng-if="(loginForm.username.$touched||loginForm.$submitted) &amp;&amp; loginForm.username.$invalid">
            <p class="alert alert-danger">{{ 'locale.security.errors.missingUsername' | i18n }}</p>
        </div>
        <div class="form-group">
            <label for="passwordInput" class="col-xs-2 control-label">{{ 'locale.security.login.label.password' | i18n }}</label>
            <div class="col-xs-9 input-group">
                <input ng-model="password" type="password" ng-required="true" placeholder="{{ 'locale.security.login.placeholder.password' | i18n }}" class="form-control"
                       name="password" id="passwordInput" />
            </div>
        </div>
        <div class="col-xs-offset-2 col-xs-9" ng-if="(loginForm.password.$touched||loginForm.$submitted) &amp;&amp; loginForm.password.$invalid ">
            <p class="alert alert-danger">{{ 'locale.security.errors.missingPassword' | i18n }}</p>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-xs-12 text-center">
            <!--<a class="btn btn-success pull-left" href="~/views/security/register.html">{{ 'locale.buttonLabels.register' | i18n }}</a>-->
            <a class="btn btn-warning" href="~/views/security/resetName.html">{{ 'locale.security.login.button.forgotPassword' | i18n }}</a>
            <button type="submit" class="btn btn-primary pull-right">{{ 'locale.security.login.button.login' | i18n }}</button>
        </div>
    </div>
</form>
