<div xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet"
          xmlns:bind="http://openiz.org/applet/bind">
    <div class="form-group">
        <label class="col-xs-2 control-label" for="givenName">{{ 'locale.patient.demographics.givenName' | i18n }}</label>
        <div class="col-xs-10">
            <select name="givenName" id="givenName" class="select2-tag form-control" aria-describedby="givenNameAddon"
                    multiple="multiple"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label" for="familyName">{{ 'locale.patient.demographics.familyName' | i18n }}</label>
        <div class="col-xs-10">
            <select name="familyName" id="familyName" class="select2-tag form-control" aria-describedby="familyNameAddon"
                    multiple="multiple"></select>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': (registerForm.date.$touched||registerForm.$submitted) &amp;&amp; registerForm.date.$invalid }">
        <label class="col-xs-2 control-label" for="dobInput">{{ 'locale.patient.demographics.dateOfBirth' | i18n }}</label>
        <div class="col-xs-4">
            <input type="date" name="date" id="dobInput" class="form-control" ng-model="patient.dateOfBirth" oiz-max-date="0" />
        </div>
        <div class="col-xs-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="patient.dateOfBirthAccuracy" value="1" />
                        {{ 'locale.patient.demographics.fuzzy' | i18n}}
                </label>
            </div>
        </div>
        <div class="col-xs-offset-2 col-xs-9" ng-messages="registerForm.date.$error" ng-if="registerForm.date.$touched||registerForm.$submitted">
            <p class="alert alert-danger" ng-message="required">{{ 'locale.errors.dob' | i18n }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-2 control-label" for="genderSelect">{{ 'locale.patient.demographics.gender' | i18n }}</label>
        <div class="col-xs-10">
            <select name="gender" ng-model="patient.genderConcept" required="required" id="genderSelect" class="form-control"
                    aria-describedby="genderAddon" bind:source="Concept" bind:filter="conceptSet.mnemonic=AdministrativeGenderCode"
                    bind:value="name[en].value"></select>
        </div>
        <div class="col-xs-offset-2 col-xs-9" ng-messages="gender.$error" ng-if="registerForm.gender.$touched||registerForm.$submitted">
            <p class="alert alert-danger" ng-message="required">{{ 'locale.errors.gender' | i18n }}</p>
        </div>
    </div>
</div>
