<div xmlns="http://www.w3.org/1999/xhtml" xmlns:openiz="http://openiz.org/applet" openiz:layout="/org.openiz.core/layouts/minimal.html">
    <openiz:title lang="en">Internal Server Error</openiz:title>
    <openiz:title lang="fr">Erreur du Serveur</openiz:title>
    <openiz:title lang="sw">Kosa Server</openiz:title>

    <h1>{{ 'locale.error.500.title' | i18n }}</h1>
    <hr />
    <p>{{ 'locale.error.500.description' | i18n }}
    <script type="text/javascript">document.write(window.location);</script></p>
</div>