<div class="container-fluid" xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet" xmlns:bind="http://openiz.org/applet/binding">
    <oiz:script>/org.openiz.core/controllers/security/audit.js</oiz:script>
    <oiz:state name="org-openiz-core.audit">
        <oiz:url>/audit</oiz:url>
        <oiz:view>
            <oiz:controller>AuditController</oiz:controller>
            <oiz:title lang="en">Audit Control Centre</oiz:title>
            <oiz:demand>1.3.6.1.4.1.33349.3.1.5.9.2.10</oiz:demand>
        </oiz:view>
    </oiz:state>
    <div class="modal fade" id="detailModel" tabindex="-10" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        {{ 'locale.audit.detail.title' | i18n }}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="progress" ng-if="isLoading">
                        <div class="progress-bar ng-cloak progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                    <div class="container-fluid form-horizontal" ng-if="!isLoading">
                        <div class="row form-group">
                            <div class="col-xs-3 control-label"><label>{{ 'locale.audit.action' | i18n}}</label></div>
                            <div class="col-xs-8"><input class="form-control" type="text" readonly="readonly" value="{{ audit.current.action }}" /></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-3 control-label"><label>{{ 'locale.audit.class' | i18n }}</label></div>
                            <div class="col-xs-8"><input class="form-control" type="text" readonly="readonly" value="{{ audit.current.event }}" /></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-3 control-label"><label>{{ 'locale.audit.date' | i18n }}</label></div>
                            <div class="col-xs-8"><input class="form-control" type="text" readonly="readonly" value="{{ audit.current.timestamp | date: 'yyyy-MMM-dd HH:mm:ss' }}" /></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-3 control-label"><label>{{ 'locale.audit.event' | i18n }}</label></div>
                            <div class="col-xs-8"><input class="form-control" type="text" readonly="readonly" value="{{ audit.current.type.display }} ({{ audit.current.type.code }})" /></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-3 control-label"><label>{{ 'locale.audit.outcome' | i18n }}</label></div>
                            <div class="col-xs-8"><input class="form-control" type="text" readonly="readonly" value="{{ audit.current.outcome }}" /></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-3 control-label"><label>{{ 'locale.audit.actors' | i18n }}</label></div>
                            <div class="col-xs-8">
                                <ul>
                                    <li ng-repeat="act in audit.current.actor">
                                        <span ng-if="act.isReq" class="glyphicon glyphicon-user"></span>
                                        <span ng-if="!act.isReq" class="glyphicon glyphicon-phone"></span>
                                        {{ act.uname }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-3 control-label"><label>{{ 'locale.audit.objects' | i18n }}</label></div>
                            <div class="col-xs-8">
                                <ul>
                                    <li ng-repeat="obj in audit.current.object">
                                        <strong>
                                            <span ng-if="obj.type == 'Person'" class="glyphicon glyphicon-user"></span>
                                            <span ng-if="obj.type == 'SystemObject'" class="glyphicon glyphicon-cog"></span>
                                            <span ng-if="obj.type == 'Organization'" class="glyphicon glyphicon-home"></span>
                                            <span ng-if="obj.type == 'Other'" class="glyphicon glyphicon-question-sign"></span>
                                            {{ obj.lifecycle}} - {{obj.idType}}
                                        </strong><br/>
                                        <small>ID#: {{ obj.id }}</small><br/>
                                        <small ng-if="obj.queryData"><strong>Query:</strong> {{obj.queryData}}</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">
                            <span>
                                <span class="glyphicon glyphicon-remove"></span> {{ 'locale.action.cancel' | i18n }}
                            </span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ 'locale.audit.title' | i18n }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-responsive ">
                <thead>
                    <tr>
                        <th>{{ 'locale.audit.action' | i18n }}</th>
                        <th>{{ 'locale.audit.class' | i18n }}</th>
                        <th>{{ 'locale.audit.date' | i18n }}</th>
                        <th>{{ 'locale.audit.user' | i18n }}</th>
                        <th>{{ 'locale.audit.event' | i18n }}</th>
                        <th>{{ 'locale.audit.outcome' | i18n }}</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control" size="1" ng-model="audit.query.action" ng-change="audit.query._offset = 0">
                                <option value="Create">Create</option>
                                <option value="Update">Update</option>
                                <option value="Read">Read</option>
                                <option value="Delete">Delete</option>
                                <option value="Execute">Execute</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" size="1" ng-model="audit.query.event" ng-change="audit.query._offset = 0" >
                                <option value="Import">Import</option>
                                <option value="Export">Export</option>
                                <option value="SecurityAlert">Security Alert</option>
                                <option value="UserAuthentication">User Authentication</option>
                                <option value="Query">Query</option>
                                <option value="ApplicationActivity">Application Activity</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control"
                                   type="date"
                                   ng-value="audit.queryTimestamp"
                                   ng-model="audit.queryTimestamp"
                                   ng-change="audit.query._offset = 0; audit.query.timestamp = '~' + OpenIZ.Util.toDateInputString(audit.queryTimestamp)"
                                   ng-max="page.maxEventTime"
                                   max="{{ page.maxEventTime | date: 'yyyy-MM-dd' }}"/>
                        </td>
                        <td>
                            <select class="form-control" 
                                    ng-model="audit.query['actor.uname']"
                                    ng-change="audit.query._offset = 0"
                                    oiz-entitysearch="SecurityUser"
                                    data-searchField="userName"
                                    data-resultField="userName"
                                    data-display="scope.userName"></select>
                        </td>
                        <td>
                            <select ng-model="audit.query['type.code']"  class="form-control" bind:source="Concept" ng-change="audit.query._offset = 0" bind:filter="conceptSet.mnemonic=SecurityAuditCode" bind:value="name[{{ locale }}].value" bind:key="mnemonic"/>
                        </td>
                        <td>
                            <select class="form-control" size="1" ng-model="audit.query.outcome" ng-change="audit.query._offset = 0">
                                <option value="Success">Successful</option>
                                <option value="MinorFail">Minor Failure</option>
                                <option value="SeriousFail">Serious Failure</option>
                                <option value="EpicFail">Catastrophic Failure</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-info" ng-click="audit.query = { _offset: 0, _count: 10, 'type.code': '!SecurityAuditCode-AuditLogUsed' }; resetQueryTimestamp();">
                                <span>
                                    <span class="glyphicon glyphicon-remove"/>
                                </span>
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody ng-if="!isLoading">
                    <tr ng-repeat="aud in audit.log.CollectionItem" ng-class="{'danger' : aud.Audit.outcome != 'Success'}">
                        <td>{{ aud.Audit[0].action }}</td>
                        <td>{{ aud.Audit[0].event }}</td>
                        <td>{{ aud.Audit[0].timestamp | date: 'yyyy-MMM-dd HH:mm' }}</td>
                        <td>{{ aud.Audit[0].actor[0].uname }}</td>
                        <td>{{ aud.Audit[0].type.display }}</td>
                        <td>{{ aud.Audit[0].outcome }}</td>
                        <td>
                            <button data-toggle="modal" data-target="#detailModel" ng-click="getAudit(aud.Audit[0].correlationId)" class="btn btn-info">
                                <span>
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    {{ 'locale.action.view' | i18n }}
                                </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="isLoading">
                    <tr>
                        <td colspan="7">
                            <div class="progress">
                                <div class="progress-bar ng-cloak progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-if="audit.log.Size &gt; 10">
                    <tr>
                        <td colspan="2">
                            {{ audit.query._offset + 1 }} .. {{ audit.query._offset + audit.log.CollectionItem.length }} / {{ audit.log.Size }}
                        </td>
                        <td colspan="5">
                            <ul class="pagination" style="margin:0px; padding:0px">
                                <li><a ng-click="audit.query._offset = audit.query._offset - 10" ng-if="audit.query._offset >= 10">&lt;&lt;</a></li>
                                <li ng-class="{'active' : $index == trunc(audit.query._offset / 10)}" ng-repeat="i in [].constructor(trunc(audit.log.Size / 10) + 1) track by $index" ng-if="$index &lt; 14">
                                    <a ng-click="audit.query._offset = ($index * 10)">{{$index + 1}}</a>
                                </li>
                                <li>
                                    <a ng-click="audit.query._offset = audit.query._offset + 10" ng-if="audit.query._offset &lt;= (audit.log.Size - 10)">&gt;&gt;</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>