<div xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet" xmlns:bind="http://openiz.org/applet/binding" class="form-group">
    <div class="row">
        <label class="control-label col-sm-2 col-xs-12">
            {{ 'locale.encounters.weight.title' | i18n }}
        </label>
        <div class="col-xs-6 col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox"
                           ng-model="act._enabled"
                           checked="checked"
                           value="1" />
                </span>
                <input ng-disabled="!act._enabled" type="number" class="form-control" ng-model="act.actModel.value" />
            </div>
        </div>
        <div class="col-xs-6 col-sm-6">
            <select ng-disabled="!act._enabled"  ng-model="act.actModel.unitOfMeasure" class="col-xs-6 form-control" bind:source="Concept" bind:filter="conceptSet.mnemonic=UnitOfMeasureWeight" bind:value="name[{{ locale }}].value">
            </select>
        </div>
    </div>
</div>
