<div xmlns="http://www.w3.org/1999/xhtml" xmlns:oiz="http://openiz.org/applet" xmlns:bind="http://openiz.org/applet/binding" class="form-group">
    <div class="row">
        <div class="control-label col-xs-12">
            <label class="control-label">
                {{ 'locale.encounters.causeofdeath.title' | i18n }}
            </label><br />
        </div>
        <div class="col-xs-6">
            <label> {{ 'locale.patient.causeofdeath' | i18n }}</label>
            <select class="form-control" ng-model="act.targetModel.relationship.HasComponent.targetModel.value" required="required" 
                    bind:source="Concept" bind:filter="conceptSet.mnemonic=CauseOfDeath" bind:value="name[{{ locale }}].value">
                <option value="70fe34ce-caff-4f46-b6e6-9cd6d8f289d6" selected="selected">{{ 'locale.encounters.aefi.unknown' | i18n }}</option>
            </select>
        </div>
        <div class="col-xs-5">
            <label> {{ 'locale.patient.demographics.deceasedDate' | i18n }}</label>
            <input ng-required="true" name="deceasedDate" ng-init="patient.deceasedDate = $root.page.loadTime" type="date" ng-model="patient.deceasedDate" ng-min="patient.dateOfBirth" class="form-control" />
            
        </div>
        <div class="col-xs-12 help-block text-danger" ng-if="(editEncounterForm.deceasedDate.$touched||editEncounterForm.$submitted) &amp;&amp; editEncounterForm.deceasedDate.$error.min">
            {{ 'locale.encounters.immunizations.errors.invalidDeceaseDate' | i18n }}
        </div>
        <div class="col-xs-12 help-block text-danger" ng-if="(editEncounterForm.deceasedDate.$touched||editEncounterForm.$submitted) &amp;&amp; editEncounterForm.deceasedDate.$error.required">
            {{ 'locale.encounters.immunizations.errors.requiredDeceaseDate' | i18n }}
        </div>
        
    </div>
</div>